<main class="card bg-transparent">
  <section class="card-body">
    <header class="card-header">
      <button
        class="btn btn-outline-success text-white fw-bolder"
        (click)="create()"
      >
        + Novo Usuário
      </button>
    </header>

    <body class="card-body bg-transparent">
      <table class="table text-center text-white fw-bold align-middle">
        <caption class="text-white">
          Lista Completa de Usuários
        </caption>
        <thead class="table-primary">
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button
                (click)="update(user)"
                class="btn btn-outline-warning text-white buttons"
              >
                Editar
              </button>
            </td>
            <td>
              <button
                type="submit"
                (click)="delete(user)"
                class="btn btn-outline-danger text-white buttons"
              >
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </body>
  </section>
</main>
