<app-header></app-header>
<main>
  <section id="form">
        <ul>
            <li>
                <button routerLink="/user" class="btn text-white">Usuarios</button>
            </li>
            <li>
                <button routerLink="/event-work" class="btn text-white">Eventos</button>
            </li>
            <li>
                <button routerLink="/event-type" class="btn text-white">Tipos de Evento</button>
            </li>
        </ul>
    </section>
  <section id="eventos">
    <router-outlet></router-outlet>
  </section>
</main>
